{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-header">添加卡密</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">卡密金额</label>
                            <div class="layui-input-inline">
                                <input type="number" placeholder="输入卡密充值金额" name="number" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生成数量</label>
                            <div class="layui-input-inline">
                                <input type="number" placeholder="输入卡密生成数量" name="num" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-filter="*" lay-submit="">保存</button>
                            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
{/block}

