{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief" lay-filter="group">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="website">账号设置</li>
                <li lay-id="contact">玩法设置</li>
                <li lay-id="size">中奖概率</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form action="{:request()->url()}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">* 用户ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" value="{$data.username|default=''}" autocomplete="off" placeholder="请输入用户名" lay-verify="required" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">用户名不能有特殊字符，首尾不能出现下划线，不能全为数字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">* 手机型号</label>
                            <div class="layui-input-inline">
                                <input type="text" disabled name="mobile" value="{$data.mobile|default=''}" autocomplete="off" placeholder="请输入手机型号" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">* 账号金额</label>
                            <div class="layui-input-inline">
                                <input type="text" name="balance" value="{$data.balance|default=''}" autocomplete="off" placeholder="请输入账号金币" lay-verify="required" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">* 密保问题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="secret_security" value="{$data.secret_security|default=''}" autocomplete="off" placeholder="请输入密保问题" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">* 密保答案</label>
                            <div class="layui-input-inline">
                                <input type="text" name="answer" value="{$data.answer|default=''}" autocomplete="off" placeholder="请输入密保答案" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" value="" autocomplete="off" placeholder="请输入密码" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">长度为6-16个字符，不能包含空格</div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="*" lay-submit="">保存</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item ">
                    <form action="{:url('admin/user/user_luck')}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">开启自定义</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="is_thumb" value="0">
                                <input type="checkbox" name="is_thumb" value="1" lay-skin="switch" lay-text="开启|关闭" {if $data.is_thumb eq '1'}checked="checked"{/if}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">luck概率</label>
                            <div class="layui-input-inline">
                                <input type="number" data-type="luck_sel" oninput="change('luck_sel')" id="luck_sel" name="luck_sel" value="{$luck_sel}" placeholder="请输入抽中概率" class="layui-input">
                            </div>
                        </div>
                        <input type="text" name="username" value="{$data.id|default=''}" style="display: none">
                        {foreach name="luck" item="val"}
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$val.luck_name}</label>
                            <div class="layui-input-inline">

                                <input type="number" name="{$val.luck_id}[luck_id]" value="{$val.luck_id}" style="display: none">
                                <input type="number" data-type="luck_v" oninput="change('luck_{$val.luck_id}')" id="luck_{$val.luck_id}" name="{$val.luck_id}[v]" value="{$val.v}" placeholder="请输入中奖概率" class="layui-input">
                            </div>
                        </div>
                        {/foreach}
                        {foreach name="size" item="val"}
                        <div class="layui-form-item">
                            <label class="layui-form-label">大小概率</label>
                            <div class="layui-input-inline">
                                <input type="number" oninput="change('size')" id="size" data-type="size" name="size" value="{$val.v}" placeholder="请输入中奖概率" class="layui-input">
                            </div>
                        </div>
                        {/foreach}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item ">
                    <form action="{:url('admin/user/whole')}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <input type="text" name="user_id" value="{$data.id|default=''}" style="display: none">
                            <label class="layui-form-label">中奖概率</label>
                            <div class="layui-input-inline">
                                <input type="number" name="v" id="whole" oninput="change('whole')" data-type="whole" value="{$user_whole.v|default=''}" placeholder="请输入中奖概率1~100" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    function change(sid){
        console.log(sid);
        var a=document.getElementById(sid).value;
        var data_type=$("#"+sid).attr("data-type");
        console.log(data_type);
        // if(a>100 || sum(data_type)>100){
        //     alert("概率必须小于等于100");
        //     document.getElementById(sid).value=0;
        // }
        if(sum(data_type)<=0){
            alert("概率必须大于或等于1");
            document.getElementById(sid).value=1;
        }
    }
    function sum(data_type) {
        var game_v=0;
        $("input").each(function (res) {
            if($(this).attr("data-type")==data_type){
                //属于游戏的概率
                game_v=parseInt(game_v)+parseInt($(this).val())
            }
        })

        return game_v;
    }
    var layid = location.hash.replace(/^#group=/, '');
    element.tabChange('group', layid);

    element.on('tab(group)', function (elem) {
        location.hash = 'group=' + $(this).attr('lay-id');
    });
</script>
{/block}