{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-btn-group">
            <a href="{:url('admin/user/game_truncate')}" class="layui-btn layui-btn-danger ajax-delete"><i class="fa fa-trash-o"></i> 一键清空</a>
        </div>
        <table class="layui-table layui-form">
            <thead>
            <tr>
                <th>会员ID</th>
                <th>下注金额</th>
                <th>中奖金额</th>
                <th>盈利</th>
                <th>下注时间</th>
            </tr>
            </thead>
            <tbody>
            {foreach name="list" item="v" empty="$empty"}
            <tr>
                <td>{$v.user_id}</td>
                <td>{$v.money}</td>
                <td>{$v.in_money}</td>
                <td>{$v.profit}</td>
                <td>{$v.log_time|date='Y-m-d H:i:s', ###}</td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="page">{$list->render()}</div>
    </div>
</div>
{/block}
